[submodule "vendor/h12.me/socks"]
	path = vendor/h12.me/socks
	url = https://github.com/h12w/socks
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf.git
[submodule "vendor/github.com/miekg/dns"]
	path = vendor/github.com/miekg/dns
	url = https://github.com/miekg/dns.git
[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket.git
