name: Lint

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout default branch
        uses: actions/checkout@v2

      - name: Lint Code Base
        uses: github/super-linter@V3.8.0
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_JSON: false
          VALIDATE_ANSIBLE: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
